@model IEnumerable<DeliveryWebApplication.Shop>

@{
    ViewData["Title"] = "Магазини";
}

<h1>Магазини</h1>

<p>
    <a asp-action="Create">Створити магазин</a> |
    <a asp-controller="Products" asp-action="Index">Повернутися до списку продуктів</a>
</p>
*Щоб видалити магазин, спочатку видаліть всі продукти з нього.
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                Кількість продуктів
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(item=>item.NameWithAddress)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsInShops.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                @if(!item.ProductsInShops.Any())
                {
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
