@model DeliveryWebApplication.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourierComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourierComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Courier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Courier.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shop.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
