@model IEnumerable<DeliveryWebApplication.Order>

@{
    ViewData["Title"] = "Замовлення";
}

<h1>Замовлення</h1>

<p>
    <a asp-action="Create">Створити замовлення</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Id)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.NameWithAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductsCost) ₴
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryPrice) ₴
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost) ₴
            </td>
        </tr>
}
    </tbody>
</table>
