@model DeliveryWebApplication.OrderItem

@{
    ViewData["Title"] = "Додати продукт до замовлення";
}

<h4>Додати до замовлення продукт "<b>@ViewData["ProductName"]</b>"</h4>
@if ((ViewData["ProductWeight"] as string).Length > 1)
{
    <h4>з вагою <b>@ViewData["ProductWeight"]</b></h4>
}
<h4>за <b>@ViewData["Price"]</b></h4>
<h4>з магазину "<b>@ViewData["ShopName"]</b>"</h4>

<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="ProductInShopId" value="@ViewData["ProductInShopId"]" />
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select asp-for="OrderId" class ="form-control" asp-items="ViewBag.OrderId"><option/></select>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if ((ViewData["ProductWeight"] as string).Length > 1)
                {
                    <label asp-for="Count" class="control-label"></label>
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                }
                else
                {
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" asp-route-productInShopId=@ViewData["ProductInShopId"] asp-route-shopId=@ViewData["ShopId"] asp-route-shopName=@ViewData["ShopName"] asp-route-productId=@ViewData["ProductId"] asp-route-productName=@ViewData["ProductName"] asp-route-price=@ViewData["Price"] asp-route-weight=@ViewData["Weight"]/>
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Details" asp-controller="Products" asp-route-id=@ViewData["ProductId"]>Повернутися до продукта</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
