@model IEnumerable<DeliveryWebApplication.Category>

@{
    ViewData["Title"] = "Категорії";
}

<h1>Категорії</h1>

<p>
    <a asp-action="Create">Створити категорію</a> |
    <a asp-controller="Products" asp-action="Index">Повернутися до списку продуктів</a>
</p>
*Щоб видалити категорію, спочатку видаліть всі продукти з неї.
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="20%">
                @Html.DisplayNameFor(model => model.CountAlive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(item=>item.Name)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountAlive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                @if(!item.HasAlive)
                {
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>