@model DeliveryWebApplication.Product

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
}

<h1>Продукт</h1>

<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormattedWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormattedWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trademark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trademark.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prices)
        </dd>
    </dl>
</div>

<hr />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    @if(!Model.HasAlive)
    {
        <a asp-action="Delete" asp-route-id="@Model?.Id">Видалити</a> <text> | </text>
    }
    <a asp-action="Create" asp-controller="ProductsInShops" asp-route-productId="@Model?.Id" asp-route-productName="@Model?.Name" asp-route-isPerKg="@(Model.Weight is null)">Додати в магазин</a> |
    <a asp-action="Index">Повернутися до списку продуктів</a>
</div>

@if(Model.HasAlive)
{
    <text> Щоб видалити продукт, спочатку видаліть його з усіх магазинів. </text>
}

<hr />

<h4>Продається в магазинах:</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductsInShops.FirstOrDefault().Shop.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsInShops.FirstOrDefault().Shop.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductsInShops.FirstOrDefault().FormattedPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductsInShops.Alive()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-controller="ProductsInShops" asp-route-id="@item.Id">Змінити ціну</a> |
                <a asp-action="Delete" asp-controller="ProductsInShops" asp-route-id="@item.Id">Видалити з магазина</a> |
                <a asp-action="Create" asp-controller="OrderItems" asp-route-productInShopId="@item.Id" asp-route-shopId="@item.ShopId" asp-route-shopName="@item.Shop.NameWithAddress" asp-route-productId="@item.ProductId" asp-route-productName="@item.Product.Name" asp-route-price="@item.FormattedPrice" asp-route-productWeight="@item.Product.FormattedWeight">Додати до замовлення</a>
            </td>
        </tr>
}
    </tbody>
</table>
