@model DeliveryWebApplication.Controllers.ProductsController.Filter

@{
    ViewData["Title"] = "Продукти";
}

<h1>Продукти</h1>

<hr />
<h4>Фільтр</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrademarkId" class="control-label"></label>
                <select asp-for="TrademarkId" class ="form-control" asp-items="ViewBag.TrademarkId"><option/></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"><option/></select>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId"><option/></select>
            </div>
            <div class="form-group">
                <label asp-for="ShopId" class="control-label"></label>
                <select asp-for="ShopId" class ="form-control" asp-items="ViewBag.ShopId"><option/></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Застосувати фільтр" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<hr />

<p>
    <a asp-action="Create">Створити новий продукт</a>
</p>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Вага
            </th>
            <th>
                Категорія
            </th>
            <th>
                Країна виробництва
            </th>
            <th>
                Торгова марка
            </th>
            <th>
                Ціна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightOrEmpty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trademark.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prices)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>