@model IEnumerable<DeliveryWebApplication.Courier>

@{
    ViewData["Title"] = "Кур'єри";
}

<h1>Кур'єри</h1>

<p>
    <a asp-action="Create">Додати кур'єра</a>
    | <a asp-controller="Orders" asp-action="Index">Повернутися до списку замовлень</a>
</p>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(item=>item.Phone)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
            </td>
        </tr>
}
    </tbody>
</table>
